{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5 mb-4">
            <h3>{{ post.title }}</h3>
        </div>
        <div>
            <h5 class="text-muted text-center">{{post.credit }} | {{ post.published_date }}</h5>
        </div>
    </div>
    <div class="row text-center">
        <img src="{{ post.image1 }}" alt="" class="img-fluid journal-image">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 font-italic lead">
            <p class="section-para">{{ post.paragraph_1 }}</p>
            <p class="section-para">{{ post.paragraph_2 }}</p>
        </div>
        <div class="row text-center">
            <img src="{{ post.image2 }}" alt="" class="img-fluid journal-image">
        </div>
    </div>
    <div class="py-4">
        <a class="btn section-button" href="{{ url_for('journal') }}">BACK</a>
    </div>
</div>


{% endblock %}