{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        <div class="row ">
            <h1 class="section-heading">Journal</h1>
        </div>
        <hr>
    </div>
    <section>
        <div class="container">
            <div class="row mt-5">
                <h2 class="">Our Story</h2>
                <p>
                    At Trail Runner Tails, we are passionate about trail running and the incredible experiences it offers. Our journey began with a love for the outdoors and a desire to share the beauty of trail running with others.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row mt-5">
                <h2 class="">Our Mission</h2>
                <p>
                    Our mission is to inspire, educate, and connect trail runners and outdoor enthusiasts from around the world. We believe that every trail has a story to tell, and we're here to share those stories with you.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row mt-5 mb-5">
                <h2 class="">What We Do</h2>
                <ul>
                    <li>
                        <strong>Blog:</strong> We curate and create trail running content, including articles, stories, and tips, to help you make the most of your trail running adventures.
                    </li>
                    <li>
                        <strong>Community:</strong> We've built a vibrant community of trail runners who share their experiences, insights, and support with each other. Join us on social media to connect with like-minded individuals.
                    </li>
                    <li>
                        <strong>Events:</strong> Stay tuned for exciting trail running events, workshops, and meetups. We believe in the power of the community to inspire and motivate.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <h2>Meet the Team</h2>
    </section>
</main>

{% endblock %}