{% extends 'base.html' %}

{% block content %}

<section class="bg-ss">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-heading-1 text-uppercase">Manage administrator accounts</h2>
        </div>
        <hr class="heading-hr mx-auto">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-4 col-md-6">
                <div class="card admin-card">
                    <div class="card-img">
                    </div>
                    <div class="card-body">
                        <h3>username: </h3>
                        <h3>password: </h3>
                        <a href=""
                            class="btn btn-danger btn-sm justify-content-center section-button">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}