{% extends 'base.html' %}

{% block content %}
<!-- Hero section -->
<div id="home-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 my-auto">
                <h1 class="main-heading text-uppercase">
                    We're here to inspire, <br>
                    educate and empower.
                </h1>
                <h3 class="sub-heading">
                    Trail Running Journal
                </h3>
            </div>
        </div>
    </div>
</div>
<!-- Intro section -->
<section>
    <div class="container text-center" id="landing-about">
        <div class="row" data-aos="zoom-in-down">
            <h2 class="section-heading-1 pb-2">
                Embrace the Power of Self-Belief!
            </h2>
            <hr class="heading-hr mx-auto">
            <div class="row pt-3">
                <div class="text-center col-lg-12 mt-3 trail-p">
                    <p class="font-italic section-para">
                        Six years ago, I made a bold decision to step out of my comfort zone, take some risks, and dare to dream big.
                    </p>
                    <p class="font-italic section-para">
                        I faced those familiar butterflies in my stomach, battled anxiety about not doing enough, and grappled with the ever-present fear of failure. These concerns weren't just personal; they were intertwined with a broader purpose and mission aimed at reshaping the current landscape of the trail running and hiking communities.
                    </p>
                    <p class="font-italic section-para">
                        Throughout this transformative journey, my guiding mantra has been simple yet profound: "Take a bet on yourself." I came to realize that if I didn't have faith in my own abilities and potential, how could I ever hope to effect change or inspire others to believe in their capacity to make a difference?
                    </p>
                    <p class="font-italic section-para">
                        I invite all members of the Trail Runner Tails community to embrace this empowering mantra, "take a bet on yourself." It's the most potent belief you can hold as you navigate the winding trails of life, pursuing your passions and making your mark on the world.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Journal section -->
<section class="bg-news pb-1">
    <div class="container" data-aos="zoom-in-down">
        <div class="row">
            <h2 class="section-heading-1 text-center">Journal</h2>
        </div>
        <hr class="heading-hr mx-auto">
    </div>
    <div class="container my-5" data-aos="zoom-in-down">
        <div class="row mt-5">
            {% for journal in journals[:3] %}
                <div class="col-lg-4 col-md-6 mb-5 justify-content-center d-flex">
                    <article class="journal-post mx-auto">
                        <figure class="article">
                            <div class="article-overlay">
                                <a href="{{ url_for('journal_post', post_id=journal._id) }}">
                                    <img src="{{ journal.image1 }}" class="card-img-top img-fluid" alt="journal image">
                                </a>
                            </div>
                        </figure>
                        <div class="article-content">
                            <div class="article-header">
                                <h5 class="journal-card-title">
                                    <a href="{{ url_for('journal_post', post_id=journal._id) }}"
                                        class="journal-link">{{ journal.title }}</a>
                                </h5>
                                <div class="article-meta text-muted">
                                    {{journal.credit }} | {{ journal.published_date }}
                                </div>
                            </div>
                            <div class="article-overview article-card-text">
                                <p>
                                    {{ journal.paragraph_1 }}
                                </p>
                            </div>
                            <div class="article-footer">
                                <div class="row">
                                    <div class="col-6 text-left footer-link">
                                        <span>
                                            <a href="{{ url_for('journal_post', post_id=journal._id) }}" class="journal-link">
                                                Read more
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}