{% extends 'base.html' %}
{% set active_page = 'profile' %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <h4 class="center-align" id="profile-heading">{{ first_name }}'s Profile</h4>
            <hr class="hr-profile">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 offset-m2 m8 offset-m2">
                <div class="card">
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}